
html {
	min-height: 100%;
	overflow: auto;
}

body {
	background-color:lightblue;
	font-family: 'Montserrat', sans-serif;
	padding:1em;
	background:linear-gradient(to right,lightblue,blue,lightblue);
	margin:0px;
}

#page_title {
	text-align: center;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background-color: snow;
	letter-spacing: 0.25em;
	width:70%;
	margin:auto;
	margin-top:10px;
	padding: 5px;
	border:.2em solid black;
	font-size: 25px;
}

#top_nav {
	text-align:right;
	width:85%;
	margin-bottom:20px;
}

#current_page{
	border-bottom: 0.2em solid midnightblue;
}

.top_nav_item {
	margin:5px;
	color:black;
	text-decoration:none;
}

.top_nav_item:hover {
	margin:5px;
	color:snow;
	text-decoration:none;
}

.body_section {
	text-align: left;
	width:70%;
	height:34em;
	border:.3em solid black;
	background-color: snow;
	margin:auto;
	margin-top:.75em;
	padding: 5px;
	line-height: 1.3;
}

#description {
	padding: 20px;
	text-decoration-color: dimgrey;
}

#me {
	border:darkgrey 3px solid;
	box-shadow: 7px 7px 7px lightgrey;
	height: 25em;
	float:left;
	margin-right: .75em;
}

#home {
	width:200px;
	float:left;
}

