
html {
	min-height: 100%;
	overflow: auto;
}

 body {
 	background:url('images/RAgroup.jpg') no-repeat center center fixed;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	-o-background-size:cover;
 	background-size:cover;
	font-family: 'Montserrat', sans-serif;
	padding:1.5em;
	/* background:linear-gradient(to right,lightblue,blue,lightblue); */
}



#page_title {
	text-align: center;
	border-radius: 15px;
	background-color: rgba(255,250,250,0.8);
	letter-spacing: 0.25em;
	width:22%;
	margin:auto;
	margin-top:250px;
	padding: 5px;
	border:.1em solid black;
	font-size: 25px;

}

#top_nav {
	text-align:right;
	width:85%;
	margin-bottom:20px;
}

.top_nav_item {
	margin:5px;
	margin-top: -25px;
	color:black;
	text-decoration:none;
}

.top_nav_item:hover {
	margin:5px;
	margin-top: -25px;
	color:snow;
	text-decoration:none;
}

/*.body_section {
	text-align: left;
	width:70%;
	height:28em;
	border:.3em solid black;
	background-color: snow;
	margin:auto;
	margin-top:.75em;
	padding: 5px;
	line-height: 1.3; 
}*/

/*#description {
	padding: 20px;
	text-decoration-color: dimgrey; 
}*/

#home {
	width:180px;
	float:left;
}

#links {
	display:block;
}